.logo img{
    width: 25%;
}
.logo{
    display: flex;
    justify-content: center;
    padding: 1%;
}
.search input{
    width: 38%;
    height: 45px;
    border: 1px solid dimgrey;
    border-radius: 25px;
}
.search input:hover{
    background-color: rgb(41, 41, 41);
}
.search{
    display: flex;
    justify-content: center;

}
.searchIcons{
    display: flex;
    justify-content: center;

 }
.Buttons{
    display:flex;
    justify-content: center;
    gap: 1%;
}
.Buttons button{
    color: #ffffff;
    width: 12em;
    height: 35px;
    border: 1px solid  rgb(41, 41, 41);
}
.Buttons button:hover{
    background-color:  rgb(41, 41, 41);
}
.Language{
    display: flex;
    justify-content: center;
    gap: 1%;
    padding-top: 1%;
}
.LanguageText{
    color: #ffffff;
}
.language a{
    text-decoration: none;
    color: rgb(127, 221, 255);
}
.language a:hover{
    text-decoration: underline;
}